<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Boolzap Web</title>
		<!-- Fontawesome CDN-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<!-- custom CSS -->
		<link rel="stylesheet" href="css/style.css" />
		<!-- Vue.js v2.6.12 -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<!-- app begins -->
		<div id="app-wrapper" class="flex">
			<!-- left NAV -->
			<nav class="flex col">
				<!-- user profile  section-->
				<div class="user-section flex items-center pa-10">
					<!-- user infos -->
					<div class="user-info flex items-center">
						<div class="round-pic no-shrink">
							<img :src="`img/avatar${user.avatar}.jpg`" alt="User profile pic" />
						</div>
						<div class="user-name txt-center">{{user.userFullName}}</div>
					</div>
					<!-- user infos ends -->

					<!-- user control panel -->
					<div class="tool-icons">
						<ul class="tools-list flex">
							<li>
								<span class="icon"><i class="fas fa-circle-notch"></i></span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-comment-alt"></i></span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-ellipsis-v"></i></span>
							</li>
						</ul>
					</div>
					<!-- user control panel ends-->
				</div>
				<!-- user profile ends-->

				<!-- notification section -->
				<div class="notification-section flex items-center pa-10">
					<div class="notification-alert flex items-center">
						<div class="round-pic txt-center no-shrink">
							<span class="icon"><i class="fas fa-bell-slash"></i></span>
						</div>
						<div>
							<h4>Ricevi notifiche di nuovi messaggi</h4>
							<a href="">Attiva notifiche desktop</a>
						</div>
					</div>
				</div>
				<!-- notification section ends-->

				<!-- chat section -->
				<div class="chat-section flex col grow">
					<!-- search bar ends -->
					<div class="search-bar pa-10">
						<span class="icon">
							<i class="fas fa-search"></i>
						</span>
						<input type="text" placeholder="Cerca o inizia una nuova chat" />
					</div>
					<!-- search bar ends -->

					<!-- chat list -->
					<div class="chat-list grow">
						<!-- single chat -->
						<div
							v-for="(contact,index) in contacts"
							class="chat flex items-center pa-10"
							:class="{'active' : index == user.currentActiveChat}"
							:title="`Clicca per aprire la conversazione con ${contact.name}`"
							@click="openChat(index)"
						>
							<!-- user infos -->
							<div class="chat-preview flex">
								<div class="round-pic no-shrink">
									<img
										:src="`img/avatar${contact.avatar}.jpg`"
										:alt="`Foto profilo di ${contact.name}`"
									/>
								</div>
								<div class="user-name txt-center">{{contact.name}}</div>
							</div>
							<!-- user infos ends -->
						</div>
					</div>
					<!-- chat list -->
				</div>
				<!-- chat section ends-->
			</nav>
			<!-- left NAV ends -->

			<!-- MAIN -->
			<main class="flex col">
				<!-- contact profile  section-->
				<div class="user-section flex items-center pa-10">
					<!-- contact infos -->
					<div class="user-info flex items-center">
						<div class="round-pic no-shrink">
							<img
								:src="`img/avatar${contacts[user.currentActiveChat].avatar}.jpg`"
								:alt="`Foto profilo di ${contacts[user.currentActiveChat].name}`"
							/>
						</div>
						<div class="user-name">
							{{contacts[user.currentActiveChat].name}}
							<div class="last-seen">Ultimo accesso oggi alle</div>
						</div>
					</div>
					<!-- contact infos ends -->

					<!-- active chat control panel -->
					<div class="tool-icons">
						<ul class="tools-list flex">
							<li>
								<span class="icon"><i class="fas fa-search"></i></span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-paperclip"></i></span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-ellipsis-v"></i></span>
							</li>
						</ul>
					</div>
					<!--active chat control panel ends-->
				</div>

				<!-- active chat container -->
				<div class="active-chat-conv grow">
					<!-- message row -->
					<div
						v-for="message in contacts[user.currentActiveChat].messages"
						class="message-row flex col"
					>
						<!-- single message -->
						<div class="message" :class="{'sent': message.status=='sent'}">
							<div class="msg-content">{{message.text}}</div>
							<div class="msg-timestamp txt-right">{{message.date}}</div>
						</div>
					</div>
				</div>
				<!-- active chat container ends-->

				<!-- chat editor -->
				<div class="chat-editor flex items-center">
					<!-- emoticons menu -->
					<div class="emoticon-menu pa-10">
						<span class="icon"><i class="far fa-smile"></i></span>
					</div>
					<!-- text message editor -->
					<div class="text-editor grow pa-10">
						<input type="text" placeholder="Scrivi un messaggio" />
					</div>

					<!-- audio message button -->
					<div class="audio-msg-recorder pa-10">
						<span class="icon"><i class="fas fa-microphone"></i></span>
					</div>
				</div>
				<!-- chatt editor -->
			</main>
			<!-- MAIN ENDS-->
		</div>
		<!-- app ends -->

		<!-- custom JS -->
		<script src="js/script.js"></script>
	</body>
</html>
